extends ../layout
      
block content
  .page
    .header(style="padding:1em 0 0 0;")
      h1.page_title(style="text-align:center;font-size:34px;color:#3CC51F;font-weight:400;margin:0 15%;") #{title}
      
    .weui_msg
      .weui_icon_area
        i.weui_icon_warn.weui_icon_msg
      .weui_text_area
        h2.weui_msg_title #{msg}
        - if (description)
          p.weui_msg_desc #{description}
      .weui_extra_area
        - if (url)
          a(href="#{url}") #{urlDescription}
