extends ../layout
      
block content
  .page
    .header(style="padding:1em 0 0 0;")
      h1.page_title(style="text-align:center;font-size:34px;color:#3CC51F;font-weight:400;margin:0 15%;") #{title}
      
    .weui_msg
      .weui_icon_area
        i.weui_icon_success.weui_icon_msg
      .weui_text_area
        h2.weui_msg_title #{msg}
        - if (description)
          p.weui_msg_desc #{description}
        - if (cells)
          .weui_cells
            each cell in cells
              .weui_cell
                .weui_cell_hd.weui_cell_primary #{cell.key}
                .weui_cell_bd #{cell.value}
          
      .weui_extra_area
        - if (url)
          a(href="#{url}") #{urlDescription}
